doctype html
html(lang='en')
    head
        include ./shared/head.pug
    body
        header='Header'
        main
            h1 #{data}
        footer='Footer'

        script(src="public/js/script.js")
